@import-normalize;
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./fonts/Montserrat-Medium.ttf) format('truetype');
  src: local('Montserrat'),
    url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}
